@{
    ViewBag.Title = "Home Page";
}

<div id="home"></div>

@section Scripts
{
    <script>
        (function () {
            var args = 
            Bundle.renderHome();
        })();
    </script>
}